<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
{% block body %}
<div class="ui middle aligned center aligned grid">

{% if messages %}
<div>
    <strong>Messages:</strong>
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div>
    <strong>Menu:</strong>
    <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
    </ul>
</div>
<div class="column eight wide content-container">
{% block content %}
{% endblock %}
</div>

{% endblock %}
{% block extra_body %}
{% endblock %}
</div>
</body>
</html>